* {margin:0; padding:0;}
section, nav, main, header,footer{
	display:block;
}

a{
	font-family:Arial;
	text-decoration:none;
	color:#264951;
}

a:hover{
	color:#8c8787;
}

header{
	width:100%;
	heigh:99px;
}

#logo{
	display: inline-block;
	background:url(../images/logo.png);
	background-repeat: no-repeat;
	margin-left:250px;
	height:60px;
	margin-top:30px;
	margin-bottom:30px;
	position: absolute;
}

#logo h2{
	margin-left:80px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:34.5px;
}


.menu{
	padding-top:40px;	
	padding-bottom:40px;
	margin-left:520px;
	font-size:30px;
}


#cover{
	background:url(../images/cover.png);
	background-repeat: no-repeat;
	height:800px;
	width:1600px;
	color:#ffffff;
	font-family: Arial;
}

#cover h1{
	border-bottom:1px solid #15a4fa;
	width:605px;
	padding-top: 240px;
	font-size:50pt;	
	text-align:center;
    	margin-left: 505px;
}

#cover h3{
	margin-top: 40px;
	text-align:center;
}

#cover a{
	border: 1px solid #15a4fa;
	width: 180px;
	font-size:22px;
	display: block;
	text-align:center;
	padding-left: 20px;
	padding-right: 20px;
    	padding-top: 20px;
	padding-bottom: 20px;
	margin-top:70px;
	margin-left:710px;
	color:#ffffff;
}

.info{
	font-family: Arial;
	padding-top:85px;
	padding-bottom:115px;
	background: #f6f9f9;
	height:150px;
	width:1600px;
	text-align:center;
	font-size:30px;
}

p{
	padding-top:40px;
	font-size:25px;
}

.expertise{
	font-family: Arial;

}
.coding{
	padding-top:78px;
	font-size:35px;
	padding-bottom:70px;
	margin-left:520px;
}

.skills_pic1, .skills_pic2, .skills_pic3{
	margin-left:355px;
	padding-right:40px;
	height:100px;
	width:100px;
}

.skills_pic1{
	margin-bottom:20px;
}

.skills_pic2{
	margin-bottom:30px;
}

.skills_pic3{
	margin-bottom:115px;
}

b{	
	position: absolute;
	padding-top:40px;
	font-size:20px;
}

footer{
	background: #f6f9f9;
	padding-left:250px;
	width:1350px;
	height:40px;
	padding-top:25px;
	padding-bottom:25px;
}

.contact1, .contact2, .contact3{
	height:40px;
	width:40px;
	position: absolute;
}

.contact2{
	padding-left:45px;
}

.contact3{
	padding-left:90px;
}

.copy_right{
	margin-top:15px;
	margin-left:195px;
	font-family: Arial;
}